body {
    background-color: #494848;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    width: 500px; /* Largura fixa para tornar o retângulo um quadrado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra ao redor do quadrado */
}
.calculator-box {
    color: #063861;
    text-align: center;
    position: relative;
}
.calculator-box2 {
    margin-top: 50%;
    color: #063861;
    text-align: center;
    position: relative;
    padding-top: 0;
    label, input, select {
        margin-bottom: 5px; /* ou qualquer valor desejado */
      }
      
      h2 {
        margin-top: 10px; /* ou qualquer valor desejado */
      }
      
      button {
        margin-top: 10px; /* ou qualquer valor desejado */
      }
}



input,
select,
button {
    margin: 10px 0;
    padding: 8px;
    border: none;
    width: 100%; /* Preenchimento total da largura disponível */
}

button {
    background-color: #063861;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #063861;
}

h1 {
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Ajuste a margem conforme necessário */
}

.admin-image {
    width: 100px;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group {
    flex: 1;
}

input {
    width: 100%;
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    background: transparent;
    color: white;
    margin-top: 5px;
}
.valores-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    border: 2px solid #063861; /* Borda azul */
    border-radius: 5px;
    color: white;
}
.resultado-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    border: 2px solid #063861; /* Borda azul */
    border-radius: 5px;
    color: white;
    text-align: center;
}
.calculator-box h1, h2 {
    margin-top: 20%;
    font-size: 2em;
    color: white;
}
.calculator-box2 h1, h2 {
    margin-top: 20%;
    font-size: 2em;
    color: white;
}
select,
button {
    margin: 10px 0;
    padding: 8px;
    background-color: black;
    border: 1px solid white; /* Adiciona borda branca */
    color: white; /* Define a cor do texto como branca */
    width: 100%;
}
#resultado-container {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid #063861;
    border-radius: 5px;
  }
.titulo{
    color: antiquewhite;
}




@media (max-width: 600px) {
    .container {
        width: 80%; /* Largura ajustada para dispositivos móveis */
        height: auto;
    }

    .input-row {
        flex-direction: column; /* Empilha os grupos de entrada verticalmente */
    }
    .calculator-box h1 {
        font-size: 1.5em; /* Reduz o tamanho do título em dispositivos móveis */
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 80%; /* Largura ajustada para tablets */
    }
}